# TEXT-TO-SQL 기술 연습

In [10]:
import os
from glob import glob

from pprint import pprint
import json

import numpy as np
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.types import Integer, String, Float
from sqlalchemy import text

In [6]:
# SQLAlchemy 엔진 생성
engine = create_engine("mysql+pymysql://KABANG:KABANG@localhost:13306/KABANG")

df = pd.read_csv("StudentsSocialMediaAddiction.csv")

# MySQL로 저장
df.to_sql(
    name='ADDICTION',
    con=engine,
    if_exists='replace',  # 또는 'append' (기존 테이블 유지)
    index=False,
    dtype={
        'Student_ID': Integer(),
        'Age': Integer(),
        'Gender': String(10),
        'Academic_Level': String(50),
        'Country': String(50),
        'Avg_Daily_Usage_Hours': Float(),
        'Most_Used_Platform': String(50),
        'Affects_Academic_Performance': String(10),
        'Sleep_Hours_Per_Night': Float(),
        'Mental_Health_Score': Integer(),
        'Relationship_Status': String(20),
        'Conflicts_Over_Social_Media': Integer(),
        'Addicted_Score': Integer()
    }
)

705

In [22]:
# 데이터의 전체 row수 구하기
conn=engine.connect()
result = conn.execute(text("SELECT COUNT(*) FROM ADDICTION"))
row_count = result.fetchone()[0]
row_count

705

In [26]:
# 간단한 통계 확인 평균연령
cursor = conn.execute(text('SELECT avg(age) FROM ADDICTION'))
avg_age = cursor.fetchone()[0]
avg_age

Decimal('20.6596')

In [29]:
# 통계에 적용된 나라 tuple의 list 형태로 return 받아 list로 순회하고 각각의 tuple의 첫번째 항목 get
cursor = conn.execute(text("SELECT DISTINCT COUNTRY FROM ADDICTION"))
country_list = cursor.fetchall()
for index, country in enumerate(country_list):
    print(f"{index}번째 나라: {country[0]}", end=', ')

0번째 나라: Bangladesh, 1번째 나라: India, 2번째 나라: USA, 3번째 나라: UK, 4번째 나라: Canada, 5번째 나라: Australia, 6번째 나라: Germany, 7번째 나라: Brazil, 8번째 나라: Japan, 9번째 나라: South Korea, 10번째 나라: France, 11번째 나라: Spain, 12번째 나라: Italy, 13번째 나라: Mexico, 14번째 나라: Russia, 15번째 나라: China, 16번째 나라: Sweden, 17번째 나라: Norway, 18번째 나라: Denmark, 19번째 나라: Netherlands, 20번째 나라: Belgium, 21번째 나라: Switzerland, 22번째 나라: Austria, 23번째 나라: Portugal, 24번째 나라: Greece, 25번째 나라: Ireland, 26번째 나라: New Zealand, 27번째 나라: Singapore, 28번째 나라: Malaysia, 29번째 나라: Thailand, 30번째 나라: Vietnam, 31번째 나라: Philippines, 32번째 나라: Indonesia, 33번째 나라: Taiwan, 34번째 나라: Hong Kong, 35번째 나라: Turkey, 36번째 나라: Israel, 37번째 나라: UAE, 38번째 나라: Egypt, 39번째 나라: Morocco, 40번째 나라: South Africa, 41번째 나라: Nigeria, 42번째 나라: Kenya, 43번째 나라: Ghana, 44번째 나라: Argentina, 45번째 나라: Chile, 46번째 나라: Colombia, 47번째 나라: Peru, 48번째 나라: Venezuela, 49번째 나라: Ecuador, 50번째 나라: Uruguay, 51번째 나라: Paraguay, 52번째 나라: Bolivia, 53번째 나라: Costa Rica, 54번째 나라: Panama, 55번째 나라: Jamaica, 56번째 나라: Trinidad, 57번째 나라: Bahamas, 58번째 나라: Iceland, 59번째 나라: Finland, 60번째 나라: Poland, 61번째 나라: Romania, 62번째 나라: Hungary, 63번째 나라: Czech Republic, 64번째 나라: Slovakia, 65번째 나라: Croatia, 66번째 나라: Serbia, 67번째 나라: Slovenia, 68번째 나라: Bulgaria, 69번째 나라: Estonia, 70번째 나라: Latvia, 71번째 나라: Lithuania, 72번째 나라: Ukraine, 73번째 나라: Moldova, 74번째 나라: Belarus, 75번째 나라: Kazakhstan, 76번째 나라: Uzbekistan, 77번째 나라: Kyrgyzstan, 78번째 나라: Tajikistan, 79번째 나라: Armenia, 80번째 나라: Georgia, 81번째 나라: Azerbaijan, 82번째 나라: Cyprus, 83번째 나라: Malta, 84번째 나라: Luxembourg, 85번째 나라: Monaco, 86번째 나라: Andorra, 87번째 나라: San Marino, 88번째 나라: Vatican City, 89번째 나라: Liechtenstein, 90번째 나라: Montenegro, 91번째 나라: Albania, 92번째 나라: North Macedonia, 93번째 나라: Kosovo, 94번째 나라: Bosnia, 95번째 나라: Qatar, 96번째 나라: Kuwait, 97번째 나라: Bahrain, 98번째 나라: Oman, 99번째 나라: Jordan, 100번째 나라: Lebanon, 101번째 나라: Iraq, 102번째 나라: Yemen, 103번째 나라: Syria, 104번째 나라: Afghanistan, 105번째 나라: Pakistan, 106번째 나라: Nepal, 107번째 나라: Bhutan, 108번째 나라: Sri Lanka, 109번째 나라: Maldives,

In [35]:
from langchain_community.utilities import SQLDatabase

# # MySQL용 SQLAlchemy URI를 이용하여 mysql접속
# db = SQLDatabase.from_uri("mysql+pymysql://KABANG:KABANG@localhost:13306/KABANG")

# MySQL에 접속하되, 특정 테이블만 허용
db = SQLDatabase.from_uri(
    "mysql+pymysql://KABANG:KABANG@localhost:13306/KABANG",
    include_tables=["ADDICTION"]  # 이 테이블만 사용
)

# 사용 가능한 테이블 목록 출력
print("=== 사용 가능한 테이블 목록 ===")
tables = db.get_usable_table_names()
print(tables)

=== 사용 가능한 테이블 목록 ===
['ADDICTION']

In [36]:
# 각 테이블의 스키마 정보 출력
print("\n=== 테이블 스키마 정보 ===")
print(db.get_table_info())

=== 테이블 스키마 정보 ===

CREATE TABLE `ADDICTION` (
	`Student_ID` INTEGER,
	`Age` INTEGER,
	`Gender` VARCHAR(10) COLLATE utf8mb4_unicode_ci,
	`Academic_Level` VARCHAR(50) COLLATE utf8mb4_unicode_ci,
	`Country` VARCHAR(50) COLLATE utf8mb4_unicode_ci,
	`Avg_Daily_Usage_Hours` FLOAT,
	`Most_Used_Platform` VARCHAR(50) COLLATE utf8mb4_unicode_ci,
	`Affects_Academic_Performance` VARCHAR(10) COLLATE utf8mb4_unicode_ci,
	`Sleep_Hours_Per_Night` FLOAT,
	`Mental_Health_Score` INTEGER,
	`Relationship_Status` VARCHAR(20) COLLATE utf8mb4_unicode_ci,
	`Conflicts_Over_Social_Media` INTEGER,
	`Addicted_Score` INTEGER
)ENGINE=InnoDB COLLATE utf8mb4_unicode_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from ADDICTION table:
Student_ID	Age	Gender	Academic_Level	Country	Avg_Daily_Usage_Hours	Most_Used_Platform	Affects_Academic_Performance	Sleep_Hours_Per_Night	Mental_Health_Score	Relationship_Status	Conflicts_Over_Social_Media	Addicted_Score
1	19	Female	Undergraduate	Bangladesh	5.2	Instagram	Yes	6.5	6	In Relationship	3	8
2	22	Male	Graduate	India	2.1	Twitter	No	7.5	8	Single	0	3
3	20	Female	Undergraduate	USA	6.0	TikTok	Yes	5.0	5	Complicated	4	9
*/

In [37]:
# 평균연령
query = """
SELECT avg(age) FROM ADDICTION
"""
pprint(db.run(query))

"[(Decimal('20.6596'),)]"

In [52]:
# 사용자 질문(text) -> SQL 쿼리 (sql)
from langchain.chains import create_sql_query_chain

from langchain_ollama import ChatOllama
from langchain_google_genai import ChatGoogleGenerativeAI

ollama_llm = ChatOllama(model="mistral")
gemini_llm = ChatGoogleGenerativeAI(model="gemini-2.0-flash")

ollama_sql = create_sql_query_chain(llm=ollama_llm, db=db)
gemini_sql = create_sql_query_chain(llm=gemini_llm, db=db)

In [45]:
ollama_query = ollama_sql.invoke({"question": "답은 한글과 SQL쿼리로 답변해. 평균연령은?"})
gemini_query = gemini_sql.invoke({"question": "답은 한글과 SQL쿼리로 답변해. 평균연령은?"})

print(f"ollama_query: {ollama_query}")
print(f"gemini_query: {gemini_query}")

ollama_query: 평균연령 = (SELECT AVG(Age) FROM ADDICTION)
gemini_query: ```sql
SELECT AVG(`Age`) FROM ADDICTION
```

In [41]:
gemini_query = gemini_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 가장 높은 중독성을 가진 사람들을 조회"})
print(f"gemini_query: {gemini_query}")

gemini_query: Question: 답은 한글가 SQL쿼리로 답변해. 나라별로 가장 높은 중독성을 가진 사람들을 조회
SQLQuery: SELECT `Country`, MAX(`Addicted_Score`) AS `Max_Addicted_Score` FROM `ADDICTION` GROUP BY `Country` ORDER BY `Max_Addicted_Score` DESC LIMIT 5;

In [48]:
ollama_query = ollama_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 가장 높은 중독성을 가진 사람들을 조회"})
ollama_query

'문제: 국가별로 가장 고증력이 높은 사람들을 조회하세요.\n   SQLQuery: SELECT Country, Student_ID, Addicted_Score FROM ADDICTION ORDER BY Addicted_Score DESC, Country LIMIT 5;\n   결과: (국가별로 가장 높은 Addicted_Score가 높은 5명을 보여줍니다.)\n   Answer: 나라별로 가장 고증력이 높은 사람은 각각 USA에 있는 3번 학생, Bangladesh에 있는 1번 학생, India에 있는 2번 학생을 보여줍니다.'

In [54]:
gemini_query = gemini_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 소셜미디어로 인한 갈등 횟수가 가장 높은 사람들 조회"})
gemini_query

'```sql\nSELECT\n  `Country`,\n  MAX(`Conflicts_Over_Social_Media`)\nFROM ADDICTION\nGROUP BY\n  `Country`\nLIMIT 5;\n```'

In [58]:
ollama_query = ollama_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 소셜미디어로 인한 갈등 횟수가 가장 높은 사람들 조회"})
ollama_query

'질문: 국가별로 소셜 미디어로 인한 갈등 횟수가 가장 높은 사람들 조회\nSQLQuery: SELECT Country, Student_ID, Conflicts_Over_Social_Media FROM ADDICTION ORDER BY Conflicts_Over_Social_Media DESC LIMIT 5;'

### 내가 원하는 정답
```
SELECT *
FROM 
(
	SELECT *,
		RANK() OVER (PARTITION BY COUNTRY ORDER BY Conflicts_Over_Social_Media DESC) AS ROWNUM
FROM ADDICTION
) AS RANKED
WHERE ROWNUM =1 
```

혹은
```
SELECT *
FROM ADDICTION 
WHERE (COUNTRY, Conflicts_Over_Social_Media) IN
(
	SELECT COUNTRY, MAX(Conflicts_Over_Social_Media)
	FROM ADDICTION
	GROUP BY COUNTRY
)
```

In [59]:
import re

def extract_sql(text):
    # SQLQuery: 이후의 텍스트를 추출하는 패턴
    pattern = r'SQLQuery:\s*(.*)'

    # 정규식으로 추출
    match = re.search(pattern, text)
    if match:
        query = match.group(1)  
        return query
    
    return None

print(extract_sql(ollama_query))
print(extract_sql(gemini_query))

SELECT Country, Student_ID, Conflicts_Over_Social_Media FROM ADDICTION ORDER BY Conflicts_Over_Social_Media DESC LIMIT 5;
None

In [65]:
ollama_query = ollama_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 평균 addiction점수가 가장 높은 사람의 정보?"})
ollama_query

'문제: 국가별 추론 점수가 가장 높은 사람의 정보는 어떻게 알 수 있습니까?\nSQL쿼리:\n```sql\nSELECT `Country`, Student_ID, Addicted_Score\nFROM ADDICTION\nWHERE Addicted_Score = (SELECT MAX(Addicted_Score) FROM ADDICTION WHERE Country = t.Country) AS maxCS\nFROM ADDICTION AS t;\n```'

In [64]:
gemini_query = gemini_sql.invoke({"question":"답은 한글과 SQL쿼리로 답변해. 나라별로 평균 addiction점수가 가장 높은 사람의 정보?"})
gemini_query

'```sql\nSELECT\n  `Student_ID`,\n  `Age`,\n  `Gender`,\n  `Academic_Level`,\n  `Country`,\n  `Avg_Daily_Usage_Hours`,\n  `Most_Used_Platform`,\n  `Affects_Academic_Performance`,\n  `Sleep_Hours_Per_Night`,\n  `Mental_Health_Score`,\n  `Relationship_Status`,\n  `Conflicts_Over_Social_Media`,\n  `Addicted_Score`\nFROM ADDICTION\nWHERE\n  `Country` IN (\n    SELECT\n      `Country`\n    FROM ADDICTION\n    GROUP BY\n      `Country`\n    ORDER BY\n      AVG(`Addicted_Score`) DESC\n    LIMIT 1\n  )\nORDER BY\n  `Addicted_Score` DESC\nLIMIT 1;\n```'